body {
    background-color: whitesmoke;
    text-rendering: optimizeLegibility;
    font-size: 2em;
    margin-left: 2%;
    margin-right: 2%;
}

.titulo {
    position: relative;
    width: 100%;
    margin-top: 0px;
    padding: 60px 30px 40px;
    align-items: center;
    background-color: #fff;
    background-image: url(fotos/bh-capa.jpg);
    background-position: 50% 25%;
    background-size: cover;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

#titulo {
    font-size: 150px;
    color: #D6D6D6;
    text-align: center;
    font-family: URW Chancery L, cursive, sans-serif;
    text-shadow: #000 20px 30px 7px;
}

#menu ul {
    padding: 6px;
    margin: 3px;
    background-color: black;
    list-style: none;
    font-size: 20px;
    max-width: 100%;
}

#menu ul li {
    display: initial;
    text-align: center;
}

#menu ul li a {
    padding: 2px 40px;
    display: inline-block;
    background-color: rgb(1, 2, 1);
    color: rgb(255, 253, 253);
    text-decoration: green;
    border-bottom: 3px solid #EDEDED;
    margin-left: 10%;
}

#menu ul li a:hover {
    background-color: #D6D6D6;
    color: #6D6D6D;
    border-bottom: 10px solid #EA0000;
}

#historia {
    display: flex;
  }

.texto {
    padding: 1em;
    border: black 1px ridge;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin-bottom: 3em;
}

footer {
    position: relative;
    background-color: rgba(0, 255, 191, 0.308);
    width: 100%;
    height: 48px;
    left: 0;
    bottom: 0;
    text-align: center
}

#fotobhordenada{
    margin: 3em;
    display: flex;
    text-align: center;
    text-decoration: wavy;
    list-style-type: none;
}

.bh {
    height: 300px;
    width: 300px;
    padding: 1%;
}

.bh img {
    width: 80%;
}

#curiosidade {
    text-align: center;
}

.curiosidade-texto {
 padding: 1em;
}
