body {
    background-color: rgb(5, 185, 74);
    font-size: 2em;
    margin: 1em;
}

img {
    width: 100%;
}

figure {
    width: 40%;
}

.fotos-gatinho-fofo {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.fotos-gatinho-fofo :nth-child(2n) {
    margin-left: 1px;
}

h1 {
    font-size: 1.2em;
}

@media screen and (min-width: 800px) {
    body {
        background-color: rgb(177, 58, 3);
        font-size: 2em;
        margin: 1em;
    }
    h1 {
        font-size: 1.2em;
    }
    img {
        width: 100%;
    }
    figure {
        width: 40%;
    }
    .fotos-gatinho-fofo {
        display: flex;
        flex-flow: row wrap;
        box-sizing: border-box;
    }
    .fotos-gatinho-fofo :nth-child(2n) {
        margin-left: 1px;
    }
}

@media screen and (min-width: 1300px) {
    body {
        max-width: 1300px;
        background-color: aqua;
        font-size: 1em;
        margin: 1em;
    }
}