body {
    background-image: url(background.jpg);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

#nome {
    width: 100%;
}

#apresentação {
    display: inline-block;
    position: relative;
}

#back {
    width: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#texto {
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 40px;
    text-shadow: 0px 0px 5px black;
    font-size: 30px;
    color: black;
    padding-left: 70%;
    margin-right: 10%;
}

.principal {
    font-family: fantasy;
    font-size: inherit;
}

#menu {
    text-align: left;
    font-family: fantasy, cursive;
}

.lis {
    text-align: left;
    font-family: fantasy, cursive;
}

#poema {
    text-align: right;
    font-style: italic;
    font-family: cursive, sans-serif;
    font-size: 15px;
}

#mateus {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initial;
}

#reflexão {
    padding-top: 15%;
    position: relative;
    font-family: cursive, sans-serif;
    font-weight: 100;
    padding-left: 5%;
}

#gif {
    width: 40%;
    border-radius: 100px;
    float: right;
}